* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header begin */

.cercle {
    width: 91px;
    height: 91px;
    font-size: 48px;
    border-radius: 50%;
    border: 1px solid #3497A9;
    margin-bottom: 27px;
    justify-content: center !important;
    position: relative;
    background: #F7F8FA;
}
/* pseudo element; */

.cercle1::after {
    content: '';
    background: #3497A9;
    height: 1px;
    width: 800%;
    position: absolute;
    right: 0px;
    left: 90px;
}

header {
    background: #F7F8FA;
    font-family: 'Comfortaa', cursive;
    color: #3497A9;
    max-width: 100%;
}
/* header end */

.page {
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 45px;
    padding-right: 30px;
    padding-top: 45px;
}

h1 {
    margin-left: 45px;
    font-weight: bold;
    font-size: 40px;
}

.number {
    gap: 151px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex-direction: column;
}

.containerPaiment {
    padding-top: 40px;
    width: 611px;
    height: 399px;
    gap: 10px;
    justify-content: center !important;
}

button {
    background: #3497A9;
    text-decoration: none;
    padding: 20px 70px 20px 70px;
    border: none;
}

.validerMonPaiement {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.validerMonPaiement a {
    color: white;
    text-decoration: none;
}

.Formulaire {
    border: 1px solid #808080;
    border-radius: 22px;
    width: 737px;
    height: 760px;
    padding: 30px;
    justify-content: center;
    gap: 30px;
}
/*  taille des 2 inputs NUMERO DE CARTE ET CRYPTO */

.big {
    width: 650px;
    height: 100px;
}

.small {
    width: 280px;
    height: 90px;
}

h3 {
    font-weight: bold;
    font-size: 42px;
}

.value {
    color: #F2F2F2;
    font-weight: bold;
    font-size: 24px;
}

.grey {
    background: #F2F2F2;
    width: 300px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    border: none;
}

.crypto {
    position: relative;
}

.icon {
    position: relative;
    top: 70px;
    right: 120px;
}

.numeroDeCarte {
    padding-top: 30px;
}

.bouton {
    gap: 20px;
}


  /* footer*/
  .reseaux {
    justify-content: center;
    gap: 71px;
    background: #F7F8FA;
    padding: 20px;
    
}

.copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

}
.container{
    padding: 30px;
    background: #F7F8FA;
}

.containerchauss{
    flex-wrap: wrap;
    gap: 20px;
}

.centre{
    text-align: center ;
}